<div class="depot_form"> <fieldset>
  <legend>Please Enter Your Details</legend>
  <%= render 'form', order: @order %> </fieldset>
  <%= link_to 'Back', url_for(:back) %>
  <% @products.each do |item| %>
    <% @line_items.each do |product| %>
      <%= item.title %> &times; <%= product.quantity %><br/>
    <% end %>
  <% end %>
</div>
