<h1>Dear <%= @order.name %></h1>

<p>Thank you for your recent order from 1Up Delivery Service.</p>

<p>You ordered the following items!</p>

<%= render @order.line_items %>

<p>Your address</p>

<%= @order.address %>

<p>Phone Number:</p>

<p> <%= @order.phone_number %> </p>