/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
@function strip-unit($value) {
    @return $value / ($value * 0+1);
}

@mixin fluid-type($min-vw,
$max-vw,
$min-font-size,
$max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;
$color-1: #0b0c10;
$color-2: #1f2833;
$color-3: #c5c6c7;
$color-4: #66fcf1;
$color-5: #45a29e;
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Oswald";
    font-size: 1.2em;
    line-height: 1.6;
    background: #0B0C10;
    overflow-x: hidden;
    margin: 0;
}

main {
    margin-top: 3em;
}

.logo {
    width: 10%;
    position: absolute;
    top: 14%;
    left: 5%
}

.mybg h1 {
    @include fluid-type($min_width,
    $max_width,
    $min_font,
    $max_font);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.mybg {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("home_bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    margin-top: -3em;
    width: 100vw;
}

.mybg h3 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -190%);
    transform: translate(-50%, -190%);
    width: 80%;
    text-align: center;
}

.btn-2 {
    $color: #1f2833;
    color: $color;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(10%, 70%);
    transform: translate(10%, 70%);
    width: 20%;
    text-align: center;
    @include fluid-type($min_width,
    $max_width,
    $min_font,
    $max_font);
    &:hover {
        animation: stripes-move 0.75s infinite linear;
        background: repeating-linear-gradient(45deg, $color 0, $color 0.25em, transparent 0.25em, transparent .5em);
        color: $color-4;
    }
}

@keyframes stripes-move {
    100% {
        background-position: 5em 0px;
    }
}

.btn {
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    letter-spacing: inherit;
    margin: 1em;
    padding: 1em 1em;
    text-transform: inherit;
    transition: color 1s;
}

.navbar {
    background-color: $color-2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    img#nav_logo {
        width: 1.3em;
        position: absolute;
        left: 4px;
        top: 10px;
    }
    #large-bar {
        color: #66fcf1;
        padding: 0 0em 0px 1em;
        font-size: 1.6em;
    }
    ul li a {
        color: $color-3;
        font-family: 'Roboto';
        letter-spacing: 3px;
        text-transform: uppercase;
        &:hover {
            background-color: $color-2 !important;
            color: $color-4;
            transition: color .3s;
        }
    }
}